  .LoginForm-h1 {
    color: blueviolet;
    margin-top: 100px;
  }

  .LoginForm-table {
    background: radial-gradient(at center, blueviolet, white);
    width: 50%; 
    height: 100%;
  }

  .LoginForm-table > tr > td > label{
    font-weight: bold;    
    margin-left: 10px;
    margin-right: 5px;    
    color: white;
  }

  .LoginForm-table > tr > td{
    text-align: right;
    width: 30%;
  }

  .LoginForm-table > tr > td > input{
    width: 97%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .LoginForm-tr-special{
    height: 50px;
  }

